.birds {
  background-image: url("../assets/back.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.birds .birdsHeader {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.birdsOutput {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}