.header {
  background-color: #333;
  height: 10vh;
  display: flex;
  align-items: flex-start;
  color: white;
}

.header h1 {
  margin-left: 1rem;
}

.header li {
  display: inline-block;
  margin: 1vw;
}

.header nav {
  margin-left: 25rem;
}

.header a {
  color: white;
  font-weight: bold;
}